body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: #010201;
    height: 60px;
    border-bottom: 3px solid #f2a90f;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
    font-family: "Montserrat",sans-serif;
}

.logo {
    float: left;
    width: 70%;
}

.redes-sociais ul li {
    margin-left: 22px;
    display: inline-block;
}

.redes-sociais {
    width: 30%;
    float: right;
}

.header-2 {
    background-color: #131c25;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 16px;
    height: 50px;
}

.menu ul li:hover {
    border-bottom: 3px solid #f2a90f;
    opacity: 0.5;
    transition: 0.2s;
}

.menu ul li a:hover {
    color: #f1c86d;
    opacity:1;
    transition: 0.4s;

}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
}

.busca {
    width: 30%;
    float: right;
}

.busca input {
    background-image: url(../img/icone-search.png);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: contain;
    height: 36px;
    margin-top: 10px;
    width: 190px;
    padding-left: 14px;
    border: 1px solid #d6d6d6;
}

.col-100 {
    height: 80px;
    width: 100%;
    float: left;
    position: relative;
}

.col-slider {
    padding-top: 5px;
    height: 500px;
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    position: absolute;
    background-color: transparent;
    background-image: url(../img/anterior.png);
    z-index: 9;
    top: 35%;
    left: 20%;
    cursor: pointer;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    position: absolute;
    background-color: transparent;
    background-image: url(../img/proximo.png);
    z-index: 9;
    top: 35%;
    right: 24%;
    cursor: pointer;
}

slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid #f2a90f;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
}

.slick-dots li {
    display: inline-block;
    margin-left: 20px;
}

.slick-dots {
    position: absolute;
    margin: 0 auto;
    width: 50%;
    left: 44%;
    bottom: 20px;
}

li.slick-active button{
    background: #f2a90f;
}

.texto-destaque {
    text-align: center;
    font-size: 22px;

}

.texto-destaque strong {
    color: #dad6d6;
}

.texto-destaque h1 {
    color: #aaa8a8;
}

.texto-destaque p{
    color: #9a9a9a;

}

.content {
    border-bottom: 2px solid #f2a90f;
}

body {
    background-color: #131c25;
}

p1 {
    font-family: "Montserrat",sans-serif;
}

.episodios-header {
    text-align: center;
    font-size: 22px;
    color: #aaa8a8;
}

#wrapper {
 text-align:center;
 margin:16px auto;
 padding:0px;
 width:995px;
}

#player {
 background-color: #131c25;
 width:400px;
 margin-left:300px;
 padding:2px;
 box-sizing:border-box;
 border: 2px solid #f2a90f;
}

input[type="image"] {
 float:left;
 height:20px;
 margin-left:2px;
 margin-right:5px;
 margin-top:2px;
}

#vol_img {
 margin-left:150px;
 width:20px;
}

.contador {
    display: inline-flex;
    font-size: 16px;
}

.episodios {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

.card {
    min-height: 400px;
    height: auto;
    max-width: 33%;
}